    body{margin:0;padding:0;background-color:#99CCFF;}
    p{color:white }
    .head{
        width: 96%;
        padding-left:4% ;
        padding-top:3%;
        margin:0;

    }
    .head img{width: 10%}

    .logo{
        width: 100%;
        padding: 10% 0% 5% 0;
        margin:0%;
        text-align:center;
    }
    .logo img{width: 30%;}
    .content
    {
        width: 70%;
        padding:0 15% 0 15% ;
        margin:25% 0;

        font-size:5vw;
        line-height:2em;
            }

    .footer-join{
        width: 50%;
        padding:2% 0 0 0;
        margin:0%;
        font-size: 4vw;
        float: left;
        text-align:center;
         }
      .footer-logo{

        width:50%;
        padding:2% 0 0 0;
        margin:0%;
        font-size: 4vw;
        float: left;
        text-align:center;
       }
       img{
        width:25%;}
